each a in infobook 
  each c in a.user.addresses
    tr 
      td #{a.user.name}
      td 
        img(src="/uploads/"+a.book.image, alt="alt", style = "width : 15%")
      td #{a.book.masp} x #{a.soluongdat}
      td
        if(a.status == 0)
          button.btn.btn-danger.glyphicon.glyphicon-edit(style = 'background : green',  onclick = 'trangthai('+a.id+', '+a.status+')', id = 'trangthai'+a.id) Chờ xử lý
        else 
          button.btn.btn-danger.glyphicon.glyphicon-edit(style = 'background : grey',  onclick = 'trangthai('+a.id+', '+a.status+')', id = 'trangthai'+a.id) Hoàn thành
      td #{a.book.createdAt}
      td #{c.name}  -  #{a.user.phonenumber} - #{c.address}
      td #{a.book.cost.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")}
      //- td #{b.BookUsers.soluongdat}
      td #{(a.book.cost * a.soluongdat).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")}