each a in infobook 
    tr(id = 'xoatl'+a.id)
        td #{a.id}
        td #{a.namecategory}
        td #{a.createdAt}
        td #{a.updatedAt}
        td 
            button.btn.btn-danger(type='button' data-toggle='modal' data-target='#form'+a.id, style = "background: green;" )
                span.glyphicon.glyphicon-edit
                    |  Sửa
            .modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true' id= 'form'+a.id)
                .modal-dialog.modal-dialog-centered(role='document')
                    .modal-content
                        .modal-header.border-bottom-0
                            h5#exampleModalLabel.modal-title Sửa thể loại
                            button.close(type='button' data-dismiss='modal' aria-label='Close')
                                span(aria-hidden='true') &times;
                        form(action="/editcategory" method="POST", id ='editcategory')
                            .modal-body                                  
                                .form-group
                                    label(for='idtheloai') ID thể loại
                                    input.form-control(type='text' ,name = 'id' value=a.id readonly)
                                .form-group
                                    label(for='namecategory') Thể loại
                                    input.form-control(type='text' , value=a.namecategory, name = 'namecategory' placeholder='Nhập mã sản phẩm', id = 'editnamecategory')
                                    span.error(id = 'error_editnamecategory')
                                .form-group
                                    label(for='slug') Slug
                                    input.form-control(type='text' , value=a.namecategory, name = 'slug' placeholder='Nhập slug', id = 'editslug')
                                    span.error(id = 'error_editslug')
                            .modal-footer.border-top-0.d-flex.justify-content-center
                                button.btn.btn-success(type='submit', ) Sửa thể loại
        td 
            button.btn.btn-danger(type='button', onclick= "xoatheloai("+a.id+")")
                span.glyphicon.glyphicon-remove
                    |  Xóa