//- extends ../views/layout/nav.pug

//- block content 
//-     section.content
//-         .card.card-solid
//-             .card-body.pb-0
//-                 .row.d-flex.align-items-stretch
//-                     if(comic && comic.length)
//-                         each b in comic
//-                             each bk in b.books
//-                                 each sale in bk.sales
//-                                     .col-12.col-sm-6.col-md-4.d-flex.align-items-stretch
//-                                         .card.bg-light.carta
//-                                             a(href='/thong-tin-book/'+bk.id) 
//-                                                 img(src="/uploads/"+bk.image, style = "width : 350px; height : 200px")
//-                                             br
//-                                             .card-body.pt-0#title
//-                                                 .div
//-                                                     span #{bk.title}
//-                                                 .cost
//-                                                     b #{bk.cost.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")} đ
//-                                                 .sale  
//-                                                     p #{sale.sale}
//-             .card-footer
//-                 nav(aria-label='Contacts Page Navigation')
//-                     ul.pagination.justify-content-center.m-0
//-                         - for (var i =1 ; i <= page ; i++)
//-                             li.page-item.active 
//-                                 a.page-link(href='/?page='+i)
//-                                     span #{i}
//-                         //- - var back = a - 1
//-                         //- if(back == 0)
//-                         //-     a.page-link(href="/?page=1")
//-                         //-     span Back
//-                         //- else
//-                         //-     a.page-link(href='/?page='+back) 
//-                         //-     span Back
//-                         //- - for (var i =1 ; i <= page ; i++)
//-                         //- li.page-item.active
//-                         //-     a.page-link(href='/?page='+i)
//-                         //-     span #{i}
//-                         //- li.page-item.active
//-                         //- - var next = a + 1
//-                         //- if(next > page)
//-                         //-     a.page-link(href="/?page="+a)
//-                         //-     span Next
//-                         //- else
//-                         //-     a.page-link(href="/?page="+next)
//-                         //-     span Next
